<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>


<div>
    <form action="/check_login" method="post">
        <input th:name="appId" th:value="${appId}" type="hidden">
        <input th:name="backUrl" th:value="${backUrl}" type="hidden">

        <label>username</label>
        <input name="username" type="text">
        <label>password</label>
        <input name="password" type="password">

        <input type="submit" value="login">
        <label th:text="${msg}"></label>
    </form>


</div>

</body>
</html>